label {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

th {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

th a {
    color: inherit;
    text-decoration: none;
}

th a:hover {
    text-decoration: underline;
    color: inherit
}