<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    {% include favicons.html %}

    {% include open-graph.html %}

    <!-- STYLESHEET -->

    <!-- Main -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ site.stylesheet | default: 'main' }}.css">

    <!-- Global -->
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/global.css"> -->

    {% if layout.custom-stylesheet %}
      <!-- Layout Specific CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ layout.custom-stylesheet }}.css">
    {% endif %}

    {% if page.custom-stylesheet %}
      <!-- Page Specific CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ page.custom-stylesheet }}.css">
    {% endif %}

    {% if site.google-font %}
      <!-- Google Font -->
      <link href="{{ site.google-font }}" rel="stylesheet">
    {% endif %}

    {% if site.fontawesome %}
      <!-- FontAwesome 5 -->
      <script src="{{ site.fontawesome }}" crossorigin="anonymous"></script>
    {% endif %}

    {% if site.material-icon %}
      <!-- Google Material Icon -->
      <script src="{{ site.material-icon }}" crossorigin="anonymous"></script>
    {% endif %}

    <!-- Unicons Thin Line -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- PLUGINS -->

    {% if site.isPWA %}
      <!-- PWA -->
      <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
    {% endif %}












    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">





  </head>

  <body>

    {% if site.swup-animation %}
      <div class="transition-{% if page.transition %}{{page.transition}}{% else %}{{ layout.transition }}{%endif%}" id="swup">
        {{ content }}
      </div>
      {% else %}
      {{ content }}
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/assets/js/functions.js"></script>

    <!-- PLUGINS -->

    {% if site.swup-animation %}
      <script defer src="{{ site.swup-animation }}"></script>
      <script defer src="{{ site.baseurl }}/assets/plugins/swup/js/swup.js"></script>
    {% endif %}


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/i18n/defaults-*.min.js"></script>



  </body>

</html>